.App {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.App-buttonContainer {
  align-items: center;
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.App-buttonElement {
  border: 1px solid gray;
  border-radius: 5px;
  cursor: pointer;
  height: 2rem;
  width: 6rem;
}

.App-buttonElement:active {
  background-color: #dedede;
}
